.body-main {
    width: 100%;
    min-height: 100vh;
    background: url('./background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    flex-grow: 1;
    margin: 20px;
}

.user-bar {
    color: black;
    min-width: 230px;
    
    font-size: 25px;
    padding: 15px 20px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.image {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.border {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .2);
}

.blur {
    backdrop-filter: blur(30px);
}

.task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task {
    flex-grow: 1;
    margin: 20px;
    padding: 10px;

    min-width: 180px;
    max-width: 380px;

    font-size: 20px;

    animation: fi 0.7s ease 0s 1 normal forwards;
}

.exit {
    animation: fo 0.7s ease 0s 1 normal forwards;
}

@keyframes fi {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fo {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}

.task-input {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}

.center {
    text-align: end;
}

.button {
    font-size: 20px;
    padding: 10px;
    background-color: rgba(55, 141, 211, .3);
}

.button:hover {
    background-color: rgba(231, 17, 17, 0.274);
}

.button-create {
    font-size: 20px;
    padding: 10px;
    background-color: rgba(55, 141, 211, .3);
}

.button-create:hover {
    background-color: rgba(17, 231, 71, 0.274);
}
